.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #95ee4d;
}

#quote-box{
  max-width: 40%;
  padding: 60px;
  border-radius: 10px;
  background-color: #ffffff;
}

#text{
  font-size: 1.8em;
  margin-bottom: 30px;
}

#author{
  display: block;
  text-align: end;
  font-size: 1.2em;
}

#quote-box a, button{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
}

#quote-box button{
  float: right;
} 

#quote-box a{
  float: left;
  background-color: blue;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

#quote-box a:hover{
  background-color: rgba( 0, 0, 255, 0.8)
}

#quote-box a svg{
  color: #fff;
}
